export APP_NAME=microservice

export DATABASE_HOST=localhost
export DATABASE_NAME=mydb
export DATABASE_PASSWORD=password
export DATABASE_PORT=3006
export DATABASE_USER=user

export LOGGER_LEVEL=debug

export SERVER_SWAGGER_ENABLE=true
export SERVER_SWAGGER_TITLE=golang microservice

export SERVER_PORT=3000
export SERVER_TIMEOUT_IDLE=60s
export SERVER_TIMEOUT_READ=60s
export SERVER_TIMEOUT_WRITE=60s
